[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    height: 100%;
}

#main-div {
    height: 100%;
    padding-top: 55px;
}

.dell-logo {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.navbar-custom {
    background-color: #222222;
    max-height: 55px;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text,
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(230, 230, 230, .7);
        font-size: 18px;
    }

    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
        background-color: #007bff;
    }

.custom-toggler.navbar-toggler {
    border-color: rgb(230, 230, 230);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 230, 230, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@keyframes gab-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gab-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.custom-fade {
    opacity: 1;
}

    .custom-fade.ng-enter {
        -webkit-animation: gab-fade-in 0.5s ease;
        animation: gab-fade-in 0.5s ease;
        opacity: 0;
    }
    .custom-fade.ng-leave {
        -webkit-animation: gab-fade-out 0.5s ease;
        animation: gab-fade-out 0.5s ease;
        display: none;
        opacity: 1;
    }

    .custom-fade.ng-enter-active {
        opacity: 1;
    }

    .custom-fade.ng-leave-active {
        opacity: 0;
        display: none;
    }

    .custom-fade.ng-hide-remove.ng-hide-remove-active {
        -webkit-animation: gab-fade-in 0.5s ease;
        animation: gab-fade-in 0.5s ease;
        opacity: 1;
    }

    .custom-fade.ng-hide-add.ng-hide-add-active {
        -webkit-animation: gab-fade-out 0.5s ease;
        animation: gab-fade-out 0.5s ease;
        opacity: 0;
    }
